extends layout

block layout-content
  div.View.WelcomeView
    h2.Banner RoomOS Portal
    div.Message
      div.Title
        h2 Cisco Webex
        h3 RoomOS Device Portal
      span.Details Welcome!
    div.NavButtons
      if isAuthenticated
        a(href="/config")
          div.NavButton Config
      else
        a(href="/login")
          div.NavButton Log in