@import url('https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono');

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: 'Merriweather Sans', sans-serif;
}

/*
.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: 'Share Tech Mono', monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}
*/

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.Config {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  align-self: center
}

.Config > .Title {
  padding-bottom: 20px;
}

.Config > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.Controls {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  display: flex;
}

.Controls > .Left {
  background: white;
  align-self: flex-start;
}

.Controls > .Right {
  background: white;
  align-self: flex-end;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: #fa4141;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.WelcomeView {
  background: url('/img/food.jpg') left bottom;
  background-size: cover;
}

.UserView {
  background: url('/img/patio.jpeg') left bottom;
  background-size: cover;
}

/*  TOGGLE SWITCH https://www.w3schools.com/howto/howto_css_switch.asp */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CSS BUTTON https://www.w3schools.com/css/css3_buttons.asp */

.button {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.Banner {
  display: flex;
  font-family: 'Share Tech Mono', monospace;
  justify-content: center;
  align-self: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  padding: 10px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}
.Heading {
  display: flex;
  font-family: 'Share Tech Mono', monospace;
  justify-content: center;
  align-self: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}
.Avatar {
  display: flex;
  object-fit: cover;
  align-self: center;
  justify-content: flex-end;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}

.DeviceInfo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.DeviceInfo td, .DeviceInfo th {
  border: 1px solid #ddd;
  padding: 4px;
  
}
.DeviceInfo tr:nth-child(even){background-color: #f2f2f2;}
.DeviceInfo tr:hover {background-color: #ddd;}
.DeviceInfo th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  /*background-color: #2196F3;
  color: white;*/
}

.InputDial {
  display: flex;
  grid-column: 2;
}

.InputBox {
  flex-grow: 1;
  padding: 8px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px
}

.InputButton {
  display: flex;
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  /*border-radius: 12px;*/
  align-self: center
}

.RowButton {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
  align-self: center;
  float: right;
  font-weight: bold;
}